@page "/"

<PageTitle>Index</PageTitle>
<div class="card" style="min-height:94vh">
    <div class="card-header">
        <div class="mt-2 p-2" style="text-align:center;">
            <h1>РЕАЛИЗАЦИЯ АВТОРИЗАЦИИ И АУНТЕНТИФИКАЦИИ ПОЛЬЗОВАТЕЛЯ В WEB-ПРИЛОЖЕНИИ BLAZOR WEBASSEMBLY С ХОСТИНГОМ WEB API ИСПОЛЬЗУЯ JWT</h1>
        </div>
    </div>
    <div class="card-body" style="margin-left:auto; margin-right:auto;">
        <img src="https://adaptivewebhosting.com/wp-content/uploads/2021/09/net-core-blazor-hosting-300x235.png" height="500"/>
    </div>
    <div class="card-footer">
        <p style="text-align:center;">Воробьев Максим Сергеевич ©2022</p>       
    </div>
</div>


